img{border-color:#8e24aa; border-width:2px; border:solid; width:10px; height:10px;}
.collapsible-header{font-size:2em; font-style:italic; float:right;}
form{}
.brand-logo{}
.nav-wrapper{}
.collapsible-header{font-size:1em;}
.input-field{border-style:dotted;border-color:gray;border-width:2px;}
#submit{}